.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

main{
    padding: 36px;
}

.form--input{
    border-radius: 5px;
    border: 2px solid #d5d4db;
    text-indent: 5px;
}

.form--button{
    grid-column: 1/-1;
    border-radius: 5px;
    background-color: blueviolet;
    border: none;
    color: white;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--img {
    max-width: 100%;
    border-radius: 3px;
    margin-top: 5px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 20%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}